[2013-08-19 13:03] AlphaGit opened #1 "IE10: Invalid input sends the caret to the end of the field input"

[2013-08-19 14:30] #1 closed, assigned to nobody

[2013-08-19 20:25] AlphaGit opened #2 "input[type=number] will accept as empty any non-numeric string in Chrome"
Chrome returns an empty string for a non-numeric value, as such, ngPatternRestrict will treat the entered value as an empty string.

See:
- [Get value of <input type=“number”> with JS when it contains non-numeric characters](http://stackoverflow.com/q/15627341/147507)
- [Validate number type inputs with jQuery](http://stackoverflow.com/q/16485014/147507)

[2013-08-19 21:09] AlphaGit opened #3 "When bound to a model, invalid values are permitted to be bound to the model"
[Live example](http://plnkr.co/edit/6Ryax4?p=preview)
1. Type "2" and see it showing the proper model value
2. Type "a" next to the "2" and see how the bound value displays "2a" instead of "2".

[2013-08-21 00:32] #3 closed, assigned to AlphaGit

[2013-08-21 00:49] #2 closed, assigned to AlphaGit

[2014-08-14 23:57] anark opened #4 "Bower Module"
It would be great if there was a boer module for this allowing it to be installed with bower.

Thank you

[2014-08-16 19:42] #4 closed, assigned to nobody

[2014-08-16 19:51] AlphaGit opened #5 "Remove angular libraries and make them bower dependencies"

[2014-08-16 21:54] #5 closed, assigned to nobody

[2014-08-16 21:55] AlphaGit opened #6 "Improve unit testing so that it does not require a server of its own"

[2014-09-12 20:56] AlphaGit opened #7 "Bower info returns mismatch warning"
[code]

[2014-09-17 10:08] KraigWalker opened #8 "Question: Compatibility with Angular 1.2.x"
My current project is running Angular 1.2.23. will hg-pattern-restrict still work on this, or do I need to upgrade to the 1.3.x branch?

[2014-11-13 01:28] AlphaGit opened #10 "Documentation: indicate that the project should be used from bower"

[2014-12-06 02:38] #8 closed, assigned to nobody

[2014-12-06 02:39] #7 closed, assigned to nobody

[2014-12-15 01:06] Mouvedia opened #12 "The input element's type ('number') does not support selection. (l149)"
cf Mottie/Keyboard#241

chrome 41.0.2247.0 canary

[2014-12-15 02:39] Mouvedia opened #13 "restriction is not working [opera]"
Using `pattern="\d*" ng-pattern-restrict type="number"` I can type letters in my input.

opera version 12.16 rev 1860
angular 1.3.5

[2015-02-21 21:20] Mouvedia commented on #13
It was me indeed ^^

line 105 is too restrictive. It might require some tests with other types like tel for example.
Sorry for the delay, it's working fine on my side you can merge it and close this issue.

Concerning #12, seeing errors in my console bothered me. The fact that the caret doesn't keep its position is not a great loss. If I could I would have labeled 12 as a minor annoyance.

[2015-02-21 21:32] AlphaGit commented on #13
Thanks! I've merged #14 and that should solve this problem! Thanks for coming back to this.

Closing this ticket.

[2015-02-21 21:32] #13 closed

[2015-02-22 01:31] AlphaGit commented on #12
Hi! I made a few improvements in that regards as well as other refactorings and having more browsers into the tests.

I still need to test some stuff manually, as I don't know how I'd automate the drag-and-hold method for selection (left to right or right to left) that was giving me issues before, but hopefully we've had an improvement.

If you're curious, you can take a look at it at this branch:

[2015-03-06 11:15] sebaplaza opened #15 "Regex is not allowing me to type"
I'm testing a regex of this type:
    `<input type="text" ng-pattern-restrict="^\d{9}\s{1}\d{5}$"/>`

Normally, it matches with 321456789 45687, but i can't input text.

[2015-03-06 12:51] AlphaGit commented on #15
It probably is not matching partial entries, so until you are done entering the whole expression, the intermediate values that you're entering are not actually validating against the expression.

Try this regex and see if this solves your problem: `^\d{0,9]\s?\d{0,5}$^.

[2015-03-06 13:29] sebaplaza commented on #15
Still not working.
By the way, the default example "^[0-9]*$" is working perfectly.

[2015-03-06 13:49] AlphaGit commented on #15
Ok, I'll give it a try later on and get back to you.

[2015-03-07 21:11] AlphaGit commented on #15
Try this one `^\d{0,9}$|^\d{9}\s?$|^\d{9}\s\d{0,5}$`. My previous one was closer but would allow for undesired results.

To validate final results on `onChange` you still need to use the common `ng-pattern`. This library is to restrict entries while typing, as a mask. This means that the regex is validated on each keystroke, so your regex needs to allow for intermediate values.

As an example, if

[2015-03-11 00:29] AlphaGit commented on #15
@sebaplaza Have you had any luck with that regex? Did that solve the problem for you?

[2015-03-11 10:44] sebaplaza commented on #15
Sorry i was busy all these days.

Thanks for your solution. It's working.

Anyway, how you said, the regex has to be validated with angular ng-pattern at the end, and the ng-pattern-restrict is used just to restrict the available characters, including "null".

Well, knowing how the plugin works, finally i decided to simplify my code to:

		<input 	type="text"
				ng-pattern="/^\d{9}\s{1}\d{5}$/"

[2015-03-11 11:08] AlphaGit opened #16 "Allow mask support"
Provide the ability to create masks along with the input restriction. Something similar to https://github.com/RobinHerbots/jquery.inputmask

[2015-03-11 11:09] AlphaGit commented on #15
@sebaplaza Thank you very much for checking back. I'm glad the solution works. Please note that the simplified regex will allow a user to type "1 1", and that'll be rejected later. That's why I kind of made a dirtier one.

Again, thank you very much -- I like the idea of having mask support. I had created #16 for that. I won't be able to work on it anytime soon, but I'm of course accepting PRs. =)

[2015-03-11 11:10] #15 closed

[2015-03-12 16:01] sebaplaza commented on #15
Yes, you're right ! Thanks for your feedback.

Well, i would love to help you with the project, but i'm just starting with angularjs (since a few months)
But if you need some help i'm in !

[2015-03-19 10:00] Yankovsky commented on #16
I want to participate. Any ideas of how to implement this feature?

[2015-03-19 11:51] AlphaGit commented on #16
@Yankovsky Welcome!

jQuery already has great plugins that provide this functionality, for which the source code can be found here:

- https://github.com/igorescobar/jQuery-Mask-Plugin/blob/master/src/jquery.mask.js
- https://raw.githubusercontent.com/digitalBush/jquery.maskedinput/1.4.0/dist/jquery.maskedinput.js

Based on it, I'd ask (and investigate an answer for) the following questions:

1. W

[2015-03-20 10:16] sebaplaza opened #17 "$dirty is activated, even if there is not text inside"
I know that there is part of the angular validation behaviour, but would be great to manage this:

When you use use ng-pattern-restrict with, for example: "^\d*$"

If you write letters, the restrict works fine, but the input gets $dirty=true , even if the input is encore empty.

[2015-03-20 10:33] sebaplaza opened #18 "Unhandled exception when is used with input type="email""
Uncaught InvalidStateError:

Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('email') does not support selection.

ng-pattern-restrict.js:149
getCaretPositionng-pattern-restrict.js:133
updateCurrentValueng-pattern-restrict.js:111
genericEventHandlerjquery.js:4430
jQuery.event.dispatchjquery.js:4116

[2015-03-21 18:41] AlphaGit commented on #18
@sebaplaza Thanks! Did you find this in any particular browser? (I think I can start working on it anyway.)

[2015-03-21 18:41] AlphaGit commented on #17
Thanks for the report -- I definitely agree with you.

[2015-03-21 18:46] AlphaGit commented on #18
Note: this may be related with #12. There's a pending branch there on which I need to perform some further testing.

[2015-03-21 18:47] AlphaGit commented on #6
Also, ideally, all tests would generate their own markup rather than relying on a fixed set of inputs.

[2015-03-21 19:24] #12 closed

[2015-03-21 19:24] #18 closed

[2015-03-21 19:32] AlphaGit opened #19 "Update gh-pages"

[2015-03-21 19:33] AlphaGit opened #20 "Automatic minification in build task"

[2015-04-29 08:18] yukozlovskiy opened #21 "The keyboard opens in the browser Safari (IOS 8) when pressing in any place on the page"
Step to reproduce:
1. Open page with input when you use ng-pattern-restrict on your iPhone
2. Tap in any place on the page
3. Keyboard opens and form filed becomes focused
4. When you refresh the page, you can reproduce this bug again

The problem in function detectSetCaretPositionMethods().  When I have commented this function everything works fine.

[2015-05-15 17:35] chuckamus-prime commented on #15
this should be something you show on the main page as an example. i almost gave up until i looked here.

[2015-06-17 01:46] AlphaGit commented on #15
@chuckamus-prime It took me forever to do it, but there it is! I added notes to the README.md file. Thanks!

[2015-06-18 14:25] chuckamus-prime commented on #15
Thank you! That put into words exactly what I learned. Glad you added that for future users, that makes it clear.

[2015-06-30 18:00] udayvarala opened #22 "detectSetCaretPositionMethod focuses in each fields and finally focus is set in last field field with ng-pattern-restrcit directive"
Hi there,

First of all, thanks for the woderful  directive. It works like charm for my requirement. But I noticed that detectSetCaretPositioMethod is focusing in all the fields (with ng-pattern-restrict directive). Finally the focus ends up in the last field with this directive.

I have made some local changes to fix this issue. I will upload the file soon, once I set up my git locally

[2015-06-30 18:05] udayvarala commented on #22
Issue 21 might be related to this. as focus is set, the keyboard might be opened on focus of input fields

[2015-07-07 10:41] nhung0631 opened #25 "Problem with 'backspace' and 'delete' key"
I've run this app with 2 cases as below:
1. input valid character -> press ' Backspace' on keyboard => the first character can't delete.
2. input valid character -> select all text -> press 'Backspace' or 'Delete' on keyboard => text can't delete
Can you help me solve this problem? Thanks.

[2015-07-07 12:55] AlphaGit commented on #25
Does your regex allow for the incomplete expression?

Check this note from the Readme.md file:

[2015-07-08 02:48] nhung0631 commented on #25
Maybe my expression is not good. If expression is ^[0-9]*$, it will working. But if expression is ^[0-9]+$, it will be problem as on

[2015-07-08 02:59] AlphaGit commented on #25
Exactly: the expression with `+` does not validate against an empty string, so the input will be considered not valid and the directive will prevent that change.

[2015-07-08 02:59] #25 closed

[2015-07-08 19:28] TwistyPop opened #26 "Directive allows spaces after number when using Chrome 43.0.2357.132"
Using the following pattern ^\d*$ to limit the entry to numbers only, this version of chrome allows the spaces until another invalid value is entered (such as an alpha). It is as if the routine you designed to select the invalid input and replace it with nothing (reverting to the old value) doesn't select trailing spaces. It still works in Firefox 35.0.1 and IE9. Could there be an issue with the s

[2015-07-08 20:24] AlphaGit commented on #26
Interesting... Is this with a input=type text? (I'd really appreciate a snippet of code to check it out.)

It is possible that it is an issue with the selection.modify, yes. However, in the way that you described the issue, I sounds more like the kind of issues I was facing with non-text inputs (like number, or email, or telephone). However, I'll be glad to take a look at your case and determine w

[2015-07-09 12:48] TwistyPop commented on #26
Thank you for the quick response! You are correct it seems to only be happening with type=number. Here is a snippet of the HTML that was used:

    <div class="col-xs-8">
    <input type="number" id="days" ng-model="leadDay.lead" class="form-control input-sm" ng-pattern-restrict pattern="^[0-9]*$" />
    </div>

[2015-07-09 14:24] AlphaGit commented on #26
Thanks for providing that. I will be taking a look at it in the following days, sorry I don't have much more availability to jump onto this.

I was hoping you told me it was an input type=text, since as you know, there are special restrictions on other types of inputs. In a previous ticket I [struggled with Chrome not providing the valid input](https://github.com/AlphaGit/ng-pattern-restrict/issue

[2015-08-19 15:14] itsmefirealex opened #27 "How to pass pattern dynamically into directive"
assume that i have text box. dynamically i want to pass the pattern. I tried following thing but not working.

Html:
<inpyt type="text" ng-pattern-restrict="setPattern()" />

Script:
$scope.setPattern = function() {
  var pattern = /^([0-9]+ ?)*$/;
  return pattern;
};

but in the above code setPattern() function is not getting called. Is there any way to send patterns dynamically.

Thanks in adva

[2015-08-19 15:41] mathiasdose commented on #27
I am also wondering about this.

[2015-08-19 17:48] AlphaGit commented on #27
Hi! Yes, I actually do this to automate tests.

In your controller:

[code]

In your view:

[code]

The pattern will change if you change the $scope variable as well.

[2015-08-20 06:20] itsmefirealex commented on #27
I tried as below but no luck

In my View

input type="text" ng-pattern-restrict="{{pattern}}"

In my controller:

$scope.pattern = /^([0-9]+ ?)*$/;

[2015-08-20 11:10] AlphaGit commented on #27
Oops, my bad. You may need a string representation of your pattern.

In your controller:

[code]

[2015-08-21 08:06] itsmefirealex commented on #27
It works well.

Thanks a log AlphaGit :+1:

[2015-08-21 08:06] #27 closed

[2015-08-22 00:52] AlphaGit commented on #27
I'm glad I was able to help! Have a great weekend. :)

[2015-08-22 14:08] mathiasdose commented on #27
Yep works great, thanks for fast answer!

[2015-09-03 11:02] mathiasdose opened #28 "Compatibility issue between ui-grid, ng-pattern-restrict and IE11"
I've got a compatibility issue between ui-grid (https://github.com/angular-ui/ui-grid), ng-pattern-restrict and IE11.

The problem is that when trying to edit a cell, which when in edit mode is an input element with ng-pattern-restrict attached to it (using custom template), the code below will cause the cell to immediately close again.
[code]

I've made two plunkers to make it easier to grasp the

[2015-09-03 11:25] AlphaGit commented on #28
Hi! First of all, thank you very much for this great detailed bug report. I really appreciate the effort you put into it.

On the code change, it's been pretty much stuck on webdrivers giving me hell on non-text inputs, which really impedes my ability to check browser compatibility. I've been waiting on some colleague's input on Sikuli, which may help in overcoming that, but CI integration is goin

[2015-09-03 11:58] mathiasdose commented on #28
Thanks for quick reply!

I've seen https://saucelabs.com/home been used for CI testing cross browsers, it's free for open source projects also.

[2015-09-03 12:23] AlphaGit commented on #28
Yes, that exactly what I've been experimenting with. This is one of the tests, as an example, with the new code: https://saucelabs.com/beta/tests/798a31ea6064498db7f7c418cecda0d1

[2015-09-08 00:44] #22 closed

[2015-09-08 00:45] AlphaGit commented on #21
Fixed on cae78314fe1d6529166a472c46bf101153e6a42c.

[2015-09-08 00:45] #21 closed

[2015-09-08 00:47] AlphaGit commented on #6
Fixed on 01bbe5409a349487df2cc1fb96b10053990ca48e.

[2015-09-08 00:47] #6 closed

[2015-09-08 23:44] AlphaGit commented on #28
@mathiasdose Hi! The problem was effectively fixed with the changed you mentioned. Those had been already incorporated in the master branch, on the commit cae78314fe1d6529166a472c46bf101153e6a42c.

Thanks for the Plunkr, it made it really easy to verify!

[2015-09-08 23:44] #28 closed

[2015-09-08 23:49] AlphaGit opened #29 "Add automatic tests for Angular 1.3.x and 1.2.x"

[2015-09-09 10:47] AlphaGit commented on #26
Hi! I've tested on Chrome 43, 44 and 45. Chrome 43 displays this behavior but 44 and 45 do not.

Furthermore, Chrome 43 will report the value property of a number input as "12" even if the entered text is "12   ", "1   2", "12", etc.

I looked around but I was not able to find any bug report on this behavior. Anyway, it is very likely that it is there, somewhere, and I just didn't find it.

Being

[2015-09-09 10:47] #26 closed

[2015-09-10 19:08] mathiasdose commented on #28
@AlphaGit Awesome, thanks for the help!

[2015-09-11 08:05] mathiasdose commented on #28
@AlphaGit How long can I expect before I see the update on bower?

[2015-09-11 11:15] AlphaGit commented on #28
@mathiasdose I was expecting to wrap up some other tasks before releasing the new version. It may take a while (a few days... weeks?). [These are the tasks I wanted to finish](https://github.com/AlphaGit/ng-pattern-restrict/milestones/v0.2.0).

If you need it right now, I'd suggest you point bower to the particular hash of the latest commit right now, or to master directly if you want to get the l

[2015-09-11 12:26] mathiasdose commented on #28
@AlphaGit Okey I'll point it to the latest commit.

[2015-09-12 19:01] #20 closed

[2015-09-12 19:20] #10 closed

[2015-09-12 20:50] AlphaGit commented on #29
Decided not to proceed with this.

1. Since we expect AngularJS to keep up with Semantic versioning, nothing in the 1.x changes should break compatibility with our directive.
2. Testing for every possible release in Angular will be a tedious task, for a very small benefit.
3. Most of the work that the directive does is directly tied to the DOM, so the interaction with Angular itself is pretty mini

[2015-09-12 20:50] #29 closed

[2015-09-12 21:30] AlphaGit opened #30 "Include demos in gh-pages"

[2015-09-12 21:55] AlphaGit commented on #28
@mathiasdose Sorry to bother you again, but I just released 0.2.0 with the latest changes and I thought you'd like to know. ;)

[2015-10-04 21:19] #19 closed

[2015-10-09 15:00] Yuripetusko opened #31 "Pressing invalid key adds ng-invalid class"
When pressing invalid key on the keyboard it does add ng-invalid class to the input, pressing invalid key again removes ng-invalid class

[code]

[2015-10-09 15:02] AlphaGit commented on #31
Thank you very much!

I think this may be related to #17, but I haven't done investigation on any of these. I'll take a look at these later.

[2015-10-17 03:22] AlphaGit commented on #31
I was not able to reproduce this problem with Angular 1.4.7. I tested manually with Chrome 45 and Firefox 40. Then I ran an automatic test and all browsers seemed to not have this problem.

Here's the test I built to check this:

[code]

[code]

While on the test I checked for the $valid attribute of the input, I was not able to see at any point that the ng-invalid was added to the input or to the

[2015-10-17 03:23] AlphaGit commented on #31
PS: If you want to work off of the test I built, I had started it in the [fix-validation-issues branch](https://github.com/AlphaGit/ng-pattern-restrict/tree/fixing-validation-issues).

[2015-10-25 00:54] AlphaGit commented on #31
Hi! I haven't heard back from you and I haven't yet found a way to reproduce this problem.

I'll close this ticket for now, and if you or somebody else comes up with a way of reproducing it, feel free to let me know and I'll reopen it or we can just start another discussion.

In the meantime I'll add these new tests to the master branch so that they're ready for everyone to start the troubleshooti

[2015-10-25 00:54] #31 closed

[2015-10-28 13:42] LMFinney opened #32 "Angular2 Support?"
Do you have any plans to add Angular2 support? I know it's still under development, so I don't expect a working version now, but do you expect to update this library when Angular2 is stable?

[2015-10-28 15:51] AlphaGit commented on #32
I think we could give it a shot. Angular2 has made drastic changes in regards to directive approach, so it may require a complete rewrite.

Still, it'll be a fun experiment to do so yes -- I'll give it a shot. =)

[2015-10-28 15:57] LMFinney commented on #32
Good to hear. We're rewriting our app from ng1 to ng2, and it's nearly a complete rewrite, so I get that it's non-trivial. Part of it for us will be rewriting or replacing 3rd-party libs that no longer work, so it's good to hear that ng-pattern-restrict might not have to be on that list :)

Thanks

[2015-12-06 17:28] AlphaGit commented on #32
Hi @LMFinney, just a heads up since I know you're relying on me.

I have not been able to get into Angular2 yet there are a few things to finish on my queue before I even do. I think that this could take a little bit more, I'm thinking in the range of weeks or a few months, depending on what else comes up in my personal life.

PS: I'd be really interested to see what project (if public) you're usi

[2015-12-06 19:15] LMFinney commented on #32
No problem - we aren't going to be freezing code on this project for many months, so we have time to wait on your or look for alternatives (or perhaps rewrite ourselves and offer a PR).

Unfortunately, it's not a public project - it's the user interface for a medical device.

[2015-12-18 12:22] Anubhav-Bhojne opened #33 "Allow numbers(digit with decimal point) upto 2 decimal places"
I have the following ng-pattern /^[0-9]+(\.[0-9]{1,2})?$/ which would allow users to enter number with upto 2 decimal places. However this directive doesn't allow user to input decimal.

[2015-12-18 13:30] AlphaGit commented on #33
Hi! I would modify the expression so that it reads ` /^[0-9]+(.[0-9]{0,2})?$/`

That is so you can support the input being "x." (x being a number), while the user is in the action of typing it.

Please see the notes on [progressive regexes](https://github.com/AlphaGit/ng-pattern-restrict#notes).

Let me know if that solved your problem. If not, I can look deeper into it.

[2015-12-21 08:10] Anubhav-Bhojne commented on #33
I tried using the above regex. However the problem with the above regex is that,
even if a field is not mandatory, the user cant delete the last inputted character. It sticks around because of the /^[0-9]+.
If i change /^[0-9]+ to /^[0-9]*, last character deletion works, however i see another issue where inputting only . into input fields makes the input field valid.

[2015-12-21 13:02] AlphaGit commented on #33
You're right. The same logic applies to that section of the regex as well.

From here on out, it is all depending on how you craft the regex for the desired result.

Try this one:

`/^(?:[0-9]+(?:\.[0-9]{0,2})?)?$/`

Here's the explanation, from the outside to the inside:

`(?:[0-9]+(?:\.[0-9]{0,2})?)?` is all optional because you want to accept empty string too, in the case the user clears the in

[2015-12-22 15:04] Anubhav-Bhojne commented on #33
thanks. this works

[2015-12-22 15:42] AlphaGit commented on #33
@Anubhav-Bhojne I'm glad it did! Feel free to open up any tickets if you find any more problems.

[2015-12-22 15:42] #33 closed

[2016-01-19 15:11] LMFinney commented on #32
I have migrated ng-pattern-restrict.js to TypeScript/Angular 2 beta.1 locally. I have requested permission from my management to contribute this new code back to you. If I get clearance, how would you like it? I haven't done a PR before, and I'm not sure you want a PR on top of the working AngularJS version, so maybe that wouldn't be the best (maybe you prefer to post it in a new fork, for example

[2016-01-19 18:47] LMFinney commented on #32
The initial response from management prohibits me from contributing back. We'll keep trying.

[2016-01-20 12:26] AlphaGit commented on #32
Hi @LMFinney. That's great, thank you very much.

The code is distributed under MIT licensing, so companies are allowed to make efforts out of it and not share it. I really appreciate you putting up a fight in that aspect, but I understand a company may decide otherwise.

As for how to contribute it, I had created an `angular-beta` branch, and your initial PR would basically wipe out anything that

[2016-02-16 12:27] Landish commented on #30
+1

[2016-02-16 12:57] JulioDeL opened #34 "Filter stops working after first character is validated"
Hello,

I have installed the module via bower and added it as a dependency of my app. I have tried then the example of the documentation but it is not working as expected.

This is the HTML:

`<input type="text" pattern="[0-9]+" ng-pattern-restrict />`

For the first typed character it gets correctly banned/added depending if it was a number or not, and successive characters are all added to the i

[2016-02-16 13:15] AlphaGit commented on #34
Hi! What you're seeing is actually correct. `1r` will match against `/[0-9]/` because it does match the first character.

To validate the whole string, you probably want to add string starting and terminator characters in your regex: `^[0-9]+$`.

Also, if you want to allow the field to start out blank, you need to allow for that too: `^[0-9]*$`.

However, I do see your point: the example given in

[2016-02-16 14:10] JulioDeL commented on #34
Oops...I thought the regular expression was run against each key individually and not the whole string. I changed it and the input behaves as I desired.

Thanks for your help. I'm closing this issue.

[2016-02-16 14:10] #34 closed

[2016-02-17 11:00] JulioDeL opened #35 "How to switch off ng-pattern-restrict console log?"
Hello,

I would like to know if it is possible to switch off the logs without applying uglify. By looking at the code it seems that can be accomplished by declaring a global variable 'DEBUG' and setting it to false, but I would like to avoid declaring global variables at all cost.

Thank you

[2016-02-17 12:40] AlphaGit commented on #34
Not a problem! Glad to be of help. :)

[2016-02-17 12:44] AlphaGit commented on #35
Hi!

You can use the `DEBUG` global variable if you're using the un-minified version. This is used to automatically take out the logging instructions when generating the minified version. You'll find that the minified code does not make any calls to logs, and you wouldn't have to apply uglify (it's already done for you).

However, if you still want to use the un-minified source, the library uses `

[2016-02-18 12:07] JulioDeL commented on #35
Thanks for your help! I'm closing this question.

[2016-02-19 14:18] senthilsendhil opened #36 "Help with Regexes"
in above regs.. i cant empty the string.. where to add /d??

[2016-02-19 15:07] AlphaGit commented on #36
Your regex does not allow for empty string. Try this one:

`^([0-9,*._]{,10})$`

[2016-02-29 16:14] shlomogoldstein opened #37 "Number range"
Does your directive support number ranges? Like preventing a number out of range of 1 to 1000 ?
I have used your directive in another project. It worked, thank you. I can hardly find any other project for restricting input for angular. Do you know any other??

[2016-03-01 00:41] AlphaGit commented on #37
Hi! I'm really glad you're liking the project and finding it useful.

It doesn't support number ranges directly, but you should be able to support it with regexes.

ˋ^\d{,4}$ˋ would be a simple way of accepting up to 4 digits. If you want to make sure that it doesn't have leading zeroes, you could do something like ˋ^0|\d{,4}$ˋ. However, if you want specific ranges or decimals or custom ranges, yo

[2016-03-03 14:31] abhiram90 opened #38 "Please add a plunker for this project so that users can directly see a live example."

[2016-03-04 13:00] #38 closed

[2016-03-04 13:01] AlphaGit commented on #38
@abhiram90 Done!

You can find the plunkr in [this location](https://plnkr.co/edit/QHgV7m9jlSLPImxcFif2?p=preview).

[2016-03-04 13:02] AlphaGit commented on #37
@shlomogoldstein Have you had to chance to try any of the approaches? Let me know if they helped you out.

[2016-03-04 13:03] AlphaGit commented on #36
@senthilsendhil Hi! I just noticed the regex I gave you had a slight error. I already corrected it.

However, were you able to solve the problem that you were facing? Do you need any help?

[2016-03-04 14:19] senthilsendhil commented on #36
@AlphaGit  Its was working, one more doubt , I like to make some dynamic regs like i want to set length dynamic ^([0-9,*._]{0,<it can set dynamic based on user selection>})$

[2016-03-05 14:29] AlphaGit commented on #36
Sure! In that case you probably will want to use the * quantifier, which will match zero or more elements of the expression to the left of it. I recommend checking this site out, that helps in understanding and testing regular expressions: https://regex101.com/

[2016-03-07 11:33] shlomogoldstein commented on #37
Thank you for the response. We are using another approach for validating so I do not use ranges anymore. But the regex validation works

[2016-03-07 11:33] #37 closed

[2016-03-07 13:08] AlphaGit commented on #37
Sounds good -- thanks!

[2016-03-08 23:08] irlnathan opened #39 "Trying to display a message when "New value did NOT pass validation against""
I'm trying to display an error message when a value doesn't pass the validation. Currently I'm using

`
<span style="color:red" ng-show="signup.username.$error.pattern">Only letters and numbers are allowed!</span>
`

However, `pattern` doesn't ever have a `truthy` value. Any ideas?

[2016-03-09 12:27] AlphaGit commented on #39
Hi! Because of the nature of this library, when a non-matching pattern is found, the value will be replaced with the last one that actually does match. This all happens very close to the DOM so it runs before the digest phase.

This means that you'll never end up in a situation where `$error.pattern` will be truthy.

In the situation where you are, I think you may want to use the regular ng-patter

[2016-03-09 19:17] irlnathan commented on #39
@AlphaGit, I appreciate the info! Except for being able to display an error message, the library does exactly what I need. Thanks again.

[2016-03-09 19:17] #39 closed

[2016-03-10 01:07] AlphaGit commented on #39
Thank you very much! I'm glad you're finding it useful.

Also, I believe this discussion might as well turn into a feature. It would not be a bad idea for the directive to report back on events when a validation is successful or it is not. Maybe it would also allow you (as a consumer of the library) to intercept and do some work with the wrong value itself.

Let me think about it. If any of these

[2016-03-10 18:20] battmanz opened #40 "Allow npm install"
Could you make it possible to install this via npm? I'm using browserify and all of my other packages (including angular) can be installed via npm.

[2016-03-11 12:52] AlphaGit commented on #40
Hi! Sure, I'll work on that.

While I get that done, you should be able to point the npm dependency to the repository. You may even point to a particular commit or tag if you're worried about the incoming changes.

[code]

However, I'll still work to get it today or tomorrow into the npm registry. Thanks!

[2016-03-11 12:55] AlphaGit opened #41 "Consider raising a directive event on validation passed / validation not passed"
Allow consumers of the directive to be notified when a particular value passed or did not pass the validation.

If possible, allow them to see the entered value before it is replaced with the last good known instance.

If possible, allow them to set the value to be set in place of the last good known instance.

[2016-03-11 12:55] AlphaGit commented on #39
#41 created for me to follow this up

[2016-03-11 16:15] battmanz commented on #40
Thanks for getting back to me so fast! Unfortunately is won't work to install directly from github, because there is no version specified in the `package.json` file. I get the following error
    npm ERR! No version provided in package.json

[2016-03-14 12:01] AlphaGit commented on #40
@battmanz Got it!

I just published to the npm registry, you should be able to get it with

[code]

The version right now is 0.2.1.

Thanks!

[2016-03-14 12:01] #40 closed

[2016-03-14 12:14] AlphaGit commented on #36
Hi @senthilsendhil! Were you able to solve the problem you were having?

[2016-03-14 15:34] battmanz commented on #40
Thank you!

[2016-03-19 06:56] irlnathan commented on #39
That would be great!

[2016-03-27 21:50] coreyc commented on #41
Thanks for the library, it's very useful.  Regarding this feature request, what do you mean by "consumer of the directive?"  My initial thought is that the incorrect value could maybe be stored in the scope object, and the controller could do any handling of the value from there.  Does that make sense?

Let me know, I'd be interested in working on this feature.

[2016-03-27 23:31] AlphaGit commented on #41
Hi @coreyc!

My initial thought was to raise an event every time that the validation took place, either successfully or unsuccessfully. Use cases would be for the consumer (controller that includes the template that uses the directive) to be notified of it and do something with it. For example, display a message that would help the user understand what the accepted values are. (See #39 for a quick

[2016-04-01 12:33] JulioDeL commented on #35
Hello Alpha,

I thought the min version would be used in production environments and so the logs would be disabled, but that is not happening.
According to the installment instructions I added ng-pattern-restrict dependency to my bower.json file, and after executing bower install, I see both the minified and unminified versions on the bower components folder. How can I enforce the usage of the min

[2016-04-01 23:05] AlphaGit commented on #35
Hi @JulioDeL, there's currently no logic in this library to pick either the minified or complete version. Your build script or inclusion logic or whichever you have should pick which file you want to use in every environment.

This gives you complete flexibility as to mix it up: you can use minified everywhere, or only in PROD, you can use the original one everywhere or not. It's really up to you

[2016-04-04 09:22] JulioDeL commented on #35
It truly helped. Thanks for the explanation!

[2016-04-04 09:22] #35 closed

[2016-04-05 06:36] lovemyliwu opened #42 "when Chinese Input Method input char not match pattern, ng-model brokened"
[code]

after use Chinese Input Method input Chinese Char, ng-model directive broken.

[2016-04-05 06:56] lovemyliwu commented on #42
as a hotfix I tried to manually apply new value at https://github.com/AlphaGit/ng-pattern-restrict/blob/master/src/ng-pattern-restrict.js#L140

[code]

[2016-04-05 07:05] lovemyliwu commented on #42
i create a PR #47

[2016-04-16 14:30] coreyc commented on #41
Been really busy with work recently, but haven't forgotten about this.  I'll fork and test out some ideas then let you know what I come up with.

[2016-04-16 16:16] AlphaGit commented on #41
@coreyc Thanks for the heads up!

[2016-04-17 21:18] coreyc commented on #41
Ok, I played around with some ideas that were easiest to demonstrate in a fiddle: https://jsfiddle.net/fecdphex/3/

These first two are accomplished pretty simply by emitting an event from the revertToPreviousValue() function, that the controller can then catch using scope.$on.  There are pros and cons to this.  On the one hand, users of this directive will have to know the name of the event to lo

[2016-04-17 22:25] AlphaGit commented on #41
Hi @coreyc -- thanks for all the work and yes, your explanation does make sense. Thanks for being so thoughtful and providing such a thorough analysis. Let me address it point by point.

I agree with this point of view. I don't see any problem with events being part of the directive API, although I personally lean towards using attributes and bind to functions. This can also be optional and feels

[2016-04-17 22:26] AlphaGit commented on #41
PS: Don't feel bad at all for sending walls of text, you can see I'm guilty on that one too, lol. Honestly, I'll read it all and pay attention. I really appreciate explanations and reasons to understand what the best approach for something might be. :)

[2016-04-23 22:15] coreyc commented on #41
Ah yes, good catch.  Assuming we'd want to use isolate scope here, something like:
[code]

If we do go with function-binding, won't the invalid value still need to be populated on $scope in order to be accessed in the controller function?  I'll admit, passing data around between directives and controllers trips me up sometimes.

Regarding my comment on the intention of this directive, I think your

[2016-04-25 00:48] AlphaGit commented on #41
Here's a very simple example created from the code you suggested:

[code]

([See it here](https://plnkr.co/edit/albBujGZ9tmm7CTpNzSV?p=preview))

As you can see, the directive can invoke a particular function at some point. If we're into the link function, we can do something like this:

[code]

([See it here](https://plnkr.co/edit/0EsgeGiqI1k2K3TjOLg5?p=preview))

So, basically, we can use an int

[2016-04-29 16:54] senthilsendhil commented on #36
Hi ,

 Sorry for late reply , yes I solved , I got new problem, hope you can help?

I want to restrict user entry for date format

[2016-04-30 20:05] AlphaGit commented on #36
Hi, here's an example even using the library: https://plnkr.co/edit/QHgV7m9jlSLPImxcFif2?p=preview

[2016-05-02 04:46] senthilsendhil commented on #36
Thanks lot , its worked , also I am trying to modify dd/mm/yyyy with if its
date user can enter only 01 - 31 and for month 01 - 12 ...

[2016-05-02 11:12] AlphaGit commented on #36
The regex expression for such restriction will be really complicated, since I understand that the next step will be to use the right amount of days in the right months, and consider leap years.

You're really best suited (and will have less problems) using a date input or a date widget.

Just so you have a glance, this is the validation for days 1-31, without considering the right months:

`(0?[1-

[2016-05-15 23:46] AlphaGit commented on #42
Fixed in #44.

[2016-05-15 23:46] #42 closed

[2016-05-15 23:53] AlphaGit commented on #36
@senthilsendhil I'll be closing this ticket. If you have any questions regarding the library or project, feel free to open a new ticket. If you have more questions about regexes, I really suggest looking into some documentation in them for JavaScript (MDN is a great resource) or ask in StackOverflow. I also have no problem with helping out but it's a little bit outside of the scope of the project,

[2016-05-15 23:53] #36 closed

[2016-08-25 15:07] poonwu commented on #17
@AlphaGit @sebaplaza having this problem too. Is it possible such that we track and save pristine state of `ngModelController` before change? Then if test fail or value remain the same (when no value change, but event is triggered anyway) just revert the `ngModelController` back to previous state after `$setViewValue`

[2016-11-02 17:37] jcperez-ch opened #46 "v0.2.2 is not published in npm"
Currently I am trying to use this package via `npm` like

[code]

The problem is that the latest published version in npm is v0.2.1 which doesn't include the main file commit:

https://github.com/AlphaGit/ng-pattern-restrict/commit/291c3bb51a33024cf4742f5d887c62b75eaf86c5

This may cause problems with some module bundlers like rollup or webpack.

[2016-11-03 15:13] AlphaGit commented on #46
Hi! You're probably referring to version 0.2.1. You're right, I probably missed publishing to the npm repository. I will do so very soon.

In the meantime, feel free to use the URL to this repo with the tag for the version in the npm dependency.

[2016-11-19 19:09] AlphaGit commented on #46
I have now published 0.2.2 to npm. Thanks!

[2016-11-19 19:11] #46 closed

[2016-12-28 19:59] sinner opened #47 "Angular 1.5 and 1.6 support"
Now we are migrating all our code to the new features of Angular 1.5 and 1.6 and this bower.json definition is giving us a lot of problems...

[2016-12-28 23:30] AlphaGit commented on #47
Hi @sinner, thanks for the heads up. I'll reserve some time to test it out in Angular 1.5 and 1.6 and update the tests. If everything goes right, we can just upgrade what we support. Otherwise, it may take a little longer to ensure that everything works right.

(BTW, I love your username. :) )

[2016-12-29 12:50] AlphaGit commented on #47
Hi! I just noticed that the current bower definition is `"angular": "^1.2.27 ^1.3.0"`, which means that 1.5 and 1.6 should be allowed.

While this is a mistake (I didn't intend to allow them freely), it should not be giving you any problems. What problems are you exactly having?

[2017-01-03 10:21] miclill commented on #47
Works for me with angular 1.6 as far as I can tell.

[2017-01-03 10:27] miclill opened #48 "Uglify doesn't result in removed debug-code"
[code]
Unfortunately this DEBUG code isn't removed by uglify for me. Any hints how this should work?
I'm setting the DEBUG variable right now as a workaround.
I'm using gulp to build and this is the relevant part of the build pipepline:
[code]

[2017-01-03 13:12] AlphaGit commented on #48
Hi! Yes, exactly. You can use the already uglified code (which does not have the DEBUG statements) or if you want to uglify it yourself, you will need to set the DEBUG variable to false.

The already uglified code is [ng-pattern-restrict.min.js](https://github.com/AlphaGit/ng-pattern-restrict/blob/master/src/ng-pattern-restrict.min.js). It already comes with [maps](https://github.com/AlphaGit/ng-p

[2017-01-03 13:52] miclill commented on #48
Alright thanks.

[2017-01-03 13:52] #48 closed

[2017-01-03 22:48] AlphaGit commented on #48
No problem! Glad I could help! :)

[2017-01-25 07:45] schoofseggl opened #49 "leading minus not working in input"
I use the following pattern for ng-pattern-restrict (as an example)

`"^[+\-]?([1-3])*$"`

It is applied to a input type=number field. When using ng-pattern-restrict, I am not able to start typing numbers with leading + or - signs. But I am in fact able to first type "2", and then insert a "-" before the "2".

For some other reasons I cannot use an input type=text field.

regards

Andreas

[2017-01-25 10:48] schoofseggl commented on #49
I need to add the information that even with the simple pattern "^.*$" ng-pattern-restrict makes it impossible to type a leading sign.

In the browser console I get the following error:

Uncaught DOMException: Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('number') does not support selection.
    at getCaretPositionWithInputSelectionStart (http://l

[2017-01-25 11:33] AlphaGit commented on #49
Hi @schoofseggl! Thanks for the issue report.

Unfortunately, input type=numbers behave very weirdly and provide little feedback to the code that may result in these behaviors.

The problem you're experiencing with the plus/minus sign can be explained by the input having a bad value while you're in the middle of typing the number (since `+` or `-` are not valid numbers per se), and the browser jus

[2017-01-25 12:14] AlphaGit commented on #47
Hey @sinner, would you mind to let me know what problems are you having exactly?

[2017-01-25 12:59] schoofseggl commented on #49
Hi @AlphaGit

Tested with Chrome "Version 55.0.2883.87 m (64-bit)" and ng-pattern-restrict version 0.2.2.

Regards

Andreas

[2017-01-25 13:04] AlphaGit commented on #49
Thanks a lot! I'll take a look into that and report back to you.

[2017-01-25 13:33] schoofseggl commented on #49
Just a side-remark: It would be helpful for me if there was a possibility to dynamically disable ng-pattern-restrict (e.g. I would do so for input type=number). Something like `ng-pattern-restrict ng-pattern-restrict-inactive=true`

In my case ng-pattern-restrict is used inside another directive and the input type can be configured from outside.

`<my-input-ctrl type=number pattern="patternKey">`

[2017-01-25 15:06] AlphaGit commented on #49
Ah! Interesting. Thank you very much for the context of your use case -- I see why the obvious solutions are not possible here.

Let me give it some thought, maybe there's a new feature, like the one you suggested, that could help in this case.

[2017-01-26 23:12] rickarubio opened #50 "Consider triggering change event after reverting to previous value"
Hi @AlphaGit, I'm currently using ng-pattern-restrict with a slight modification:

Original Version:
[code]

Normally, whenever a user changes the input value, a ```change``` event is automatically fired. Many other 3rd party directives such as angular-floating-labels depend on an input or change event to be triggered to take some action.

val() will not trigger any events to be fired, so when the

[2017-01-27 01:46] AlphaGit commented on #50
Hi @rickarubio! Thanks a lot for the feedback.

Your appreciation is correct. I did have some corrections in place to deal with this behavior related to `ngModel`, but it feels more appropriate to trigger the low-level change event and have that affect both the low-level hanging directives and the high-level binding.

Yes, if you could create a PR for that, it'd be great. If you find yourself with

[2017-01-27 02:27] AlphaGit commented on #49
Hey @schoofseggl -- so, this is what I'm thinking so far.

At first, the idea of a turn-on/off switch for the directive sounded nice, but upon further thought, I am really not keen on that idea. Basically, I don't think it quite makes sense to have a directive that specifically works to achieve a function that you can turn off within that same directive. I'd think that in most situations, if you d

[2017-01-27 04:58] AlphaGit commented on #49
I just added special behavior for catch-all regexes. I think this should solve your problem. This code is already published in npm and bower, version 0.2.3.

Let me know if you have any feedback about it, or if you still require some workarounds. I'd be glad to help.

[2017-01-27 07:49] schoofseggl commented on #49
You're right, it sounds weird to use the directive and switch it off. I fully agree. But as you accepted the non-working ".*" pattern on input number fields as a bug, you saved me :). I will test it right now - Thx a lot

[2017-01-27 12:55] schoofseggl commented on #49
I tested it, I can now user the .* pattern on input fields. Thanks a lot for your support!

I just noticed that I still get the exception on number fields with a different pattern (see below). If I understood you correctly you cannot work around it - but I can prevent it from happening because I will replace the pattern in my directive controller now :)

Uncaught DOMException: Failed to read the '

[2017-01-27 14:03] AlphaGit commented on #49
Ah, thanks! That's definitely not right. I'll take a look at it. I'm glad it worked!

[2017-01-27 19:15] rickarubio commented on #50
Thanks @AlphaGit I will submit a PR this weekend with the e2e tests, would love to help out where I can!

[2017-01-30 02:53] rickarubio commented on #50
I've followed the readme to get the protractor specs running but I keep getting:

[code]

Which prevents me from being able to run any of the specs.

Using latest versions of firefox/chrome and did webdriver-manager update.

Attempted to run specs using npm test, then manually running webdriver-manager start & protractor protractor-conf.js

At this point, I will defer the changes to you, although

[2017-01-30 12:46] AlphaGit commented on #50
Hi! That's really strange -- did you get any particular error from Selenium?

I remember having a similar issue when refactoring stuff around and the browser wouldn't load the page at all. Also, when trying to use the IE webdriver, which does not work for me.

I'll look into this later on and get back to you. Let me know if you get any more detail on the error -- I'd love to improve the documentat

[2017-01-30 23:30] AlphaGit commented on #50
For reference (if you don't mind helping me, @rickarubio), here's the list of my installed npm packages:

My packages:

[code]

My globally installed packages:

[code]

My npm version:

[code]

My node version:

[code]

Sorry for the extraneous packages -- I was working in another branch for Angular2 compatibility and checking out branches back and forth.

Also, I'm using a Windows 10 x64 platform

[2017-01-31 00:04] AlphaGit commented on #50
Hey, after setting up my tests, I couldn't reproduce the scenario at all. I detected that in fact multiple `change` events where being triggered by the current implementation.

In this scenario, I'm testing with the following approach:

[code]

![testingchange](https://cloud.githubusercontent.com/assets/1113433/22447069/3cbd60a8-e71e-11e6-8014-f61edd35fb17.gif)

The browsers are:

- Chrome 55.0.28

[2017-02-02 06:56] rickarubio commented on #50
Hey @AlphaGit ok, kind of long post here, apologies in advance:

TLDR; scroll to the bottom

OS: OSX 10.11.6 (El Capitan)
Node: v7.0.0
NPM: 3.10.8

After wrangling with the getting the tests to run for awhile, I've finally got them running.

```npm test``` always fails for me so instead I:

1. edited Gruntfile.js to add ```keepalive: true``` to the connect task
2. bower install, otherwise angularj

[2017-02-04 21:44] AlphaGit commented on #50
@rickarubio I am absolutely impressed with your investigation and your explanation -- amazing work! Thank you very much for putting the time into this.

Yes, I believe freezing the dependencies is a great idea. Feel free to make the modifications and send the tests, and even to adjust the scripts so that everyone can run the tests. If you don't do that I'll completely understand, you've helped a l

[2017-02-07 16:02] rickarubio commented on #50
@AlphaGit Thanks! Awesome, I'll have some time this weekend to submit PRs for the changes (adding change event firing, locking down dependencies, spec running tweaks).

[2017-03-01 09:23] aplocher opened #51 "Add mention of adding 'ngPatternRestrict' to app modules in README.md"
README.md misses a generally well-known (but crucial) step between installation and usage.

Currently installation says:

Recommended update (changed last sentence and added a couple new lines with example):

[2017-03-01 12:13] AlphaGit commented on #51
👍 Sounds like a good idea. I'll be updating it pretty soon.

[2017-03-01 12:16] #51 closed

[2017-03-03 01:52] aplocher opened #52 "Input type=number on Chrome will clear field if "restricted" text is typed while having text highlighted"
When you hit the TAB key to tab between fields, it generally will highlight the text in that field.  In the case of input type=number on Chrome, if you type in a character that is not supported, it will reject the input, but it also clears the currently selected value.

In Chrome with input type=text, it properly prevents the input and does NOT clear the textbox

It also works properly with FireFo

[2017-03-04 19:05] AlphaGit commented on #52
Hi @aplocher! Thank you for your report.

Here's an explanation of what is going on: when you setup a value or enter a valid value, ng-pattern-restrict will detect that it's valid and save it, so whenever you enter a key that makes the value invalid, it can restore the text to the previous value and it can also set the caret in the old position, giving the user the impression that "nothing happene

[2017-03-04 19:40] aplocher commented on #52
Hi @AlphaGit thanks for your response.

I should have mentioned in my original post...  yes I absolutely think it's a behavior of Chrome.  I guess it depends on how much browser-specific code you're willing to have muddy up your library (which, as a developer, I feel your pain there).

I actually stumbled across this library while trying to implement my own number-only textbox directive.  Initiall

[2017-03-04 19:43] aplocher commented on #51
Thank you!  I was brain-dead the other night working on this stuff and stared at my code for about 20 mins before realizing I forgot that! :-)

[2017-03-05 22:49] AlphaGit commented on #51
Haha, not a problem. Thanks for turning your bad experience into something useful for everyone. That's the open source spirit at its best! 👍

[2017-03-05 23:00] AlphaGit commented on #52
@aplocher Thank for the quick and understanding response!

Yes, I would personally try not to play a lot with trying to level up browser behaviors. First, it's an area of very limited mobility (it's very likely we won't be able to address all of our needs), and second, the new types of inputs introduced by HTML5 are really a problem when it comes to cross-browser experience. Half of the internet i

[2017-03-14 21:47] SparksRichard opened #53 "Disabling DEBUGing?"
Hello there, sorry if this is explained elsewhere but how would I disable all the console.log()ing that the directive is doing? It works beautifully, it's just clogging up my console. Thanks.

[2017-03-14 21:50] #53 closed

[2017-03-15 00:21] AlphaGit commented on #53
Hi @SparksRichard -- just saw that you closed the ticket. Were you able to solve the problem?

[2017-03-15 00:35] SparksRichard commented on #53
Hey, yea I saw that there was a similar thread by JulioDel but was confused
how to exactly do:

Hi @JulioDeL <https://github.com/JulioDeL>, there's currently no logic in
this library to pick either the minified or complete version. Your build
script or inclusion logic or whichever you have should pick which file you
want to use in every environment.

This gives you complete flexibility as to mix i

[2017-03-15 00:46] AlphaGit commented on #53
Sure! You're probably referring to #35. #48 is also related.

The simplest option is for you to just use the minified version. Somewhere in your code, you're using the `ng-pattern-restrict.js` file. Just change that to use `ng-pattern-restrict.min.js` and you should have no debug info.

That is, in the case you're using the file directly in your HTML. Some people may be using a build script, a pac

[2017-03-28 07:14] sadashivm opened #55 "Floating number is not working"
i need floating number like
10
12.34
0.45

and written code like

`  <form name="userForm" autocomplete="off" novalidate >
            <div class="row" style="margin-top: 4em">
                <div class="col-md-6">
                   <div class="form-group">
                        <label>Allow Floating Numbers <span >[ Ex.12.35 ]</span></label>
                        <input type="text" class="f

[2017-03-28 11:22] AlphaGit commented on #55
Hi! Sure, this is your current pattern: `/^(?:[1-9]\d*|0)?(?:\.\d+)?$/`

Notice that if you were to enter a decimal point, you are forced to enter a digit for it to pass the regular expression. You need to make the digits optional so that you can type the decimal point first, and then numbers. So change the last `+` by a `*` and you should be good.

[2017-04-03 08:51] sadashivm commented on #55
Thank you for your response.

My requirement is not matching to this pattern. i mean the above pattern is taking `.(dot)` as a first letter , it should be wrong. my requirement as below

The valid inputs are
    **10
    10.25
    0.34
    2.5
    0.2**

The Invalid inputs are
    **10.
    .25**

Ex.  If i enter number like **`10.` or `.25`** button should be disable.

Can you tell me exact patte

[2017-04-03 11:20] AlphaGit commented on #55
That's not really what this module does. This module will prevent invalid input, so you need to allow for partial input. See the [documentation notes](https://github.com/AlphaGit/ng-pattern-restrict#notes). Basically, if you don't allow `10.`, the user will never get to type it so they will never be able to enter `10.1`.

Disabling / enabling a button can be done by using form validations, as you

[2017-04-17 05:14] sadashivm commented on #55
thanks dear
its working fine.

[2017-04-17 12:01] #55 closed

[2017-05-26 15:30] SandipanDutta commented on #33
Hi, this is what I was looking for for decimals..but I also want the field to be mandatory, this expression if I leave black makes the form valid, can you please help ? Thanks.

[2017-05-26 19:07] AlphaGit commented on #33
Hi @SandipanDutta! I think the simplest approach would be to use ˋngRequiredˋ.

[2017-07-15 02:24] #47 closed

[2017-07-15 02:26] AlphaGit commented on #32
I have created a sister project for Angular 2+ compatibility. There are certain aspects missing on that project, like the correct setup of automated testing, but the overall working of the directive is in place.

The project is [a-pattern-restrict](https://github.com/AlphaGit/a-pattern-restrict).

[2017-07-15 02:26] #32 closed

[2017-10-20 22:15] sinner opened #57 "It doesn't allow copy and paste feature"
It doesn't allow copy and paste feature

[2017-10-21 00:01] AlphaGit commented on #57
Hi @sinner, thanks for the submission. Would you mind to provide more information on how to reproduce? As far as I'm aware, copy and paste are supported.

[2018-01-07 18:37] AlphaGit commented on #57
Hi @sinner -- I haven't heard back from you so I'll be closing this issue. If you needed anything else, feel free to ask!

[2018-01-07 18:37] #57 closed

[2018-01-07 18:37] #52 closed

[2019-01-22 20:46] apedneka1 opened #58 "When using ng-pattern-restrict with md-maxlength in textarea the character count for pasted invalid text is incorrect"
Hi @AlphaGit ,
I observed that when you paste invalid text in a text area with max-length set using the md-maxlength directive, the character count is updated to the length of the invalid text even though the value of the text area is not updated. As result you get an empty text area with non-zero character count value.

Similarly, let's say you have some valid text in the text area. If you select

[2019-01-22 23:32] AlphaGit commented on #58
Hi @apedneka1 -- thank you very much for the detailed submission. I was able to reproduce the issue with your codepen. Furthermore, I found another case:

Scenario 3: Type "ab". The count will correctly increase to 2. Type "!". The text will remain as "ab" (ok), but the count will increase to 3 (not ok).

This project is not under maintenance anymore but I'll take a look anyway and see if I can fi

[2019-01-23 13:47] apedneka1 commented on #58
Thank you @AlphaGit.

Thank you,
Ashish Pednekar
Software Engineer
Paychex, Inc.

From: Alpha [mailto:notifications@github.com]
Sent: Tuesday, January 22, 2019 6:32 PM
To: AlphaGit/ng-pattern-restrict <ng-pattern-restrict@noreply.github.com>
Cc: Pednekar, Ashish <apednekar@paychex.com>; Mention <mention@noreply.github.com>
Subject: Re: [AlphaGit/ng-pattern-restrict] When using ng-pattern-restrict

[2019-01-24 01:18] AlphaGit commented on #58
Hi @apedneka1!

I cannot reproduce this issue anymore in the latest version of the code. I have a gut feeling that this was solved in #44, released in 0.2.2.

I have verified that 0.2.3 is available in npm and bower.

[2019-01-24 01:19] AlphaGit commented on #58
@apedneka1 I have published a new [codepen](https://codepen.io/anon/pen/BMNmwv) you can use to verify the behavior in the latest version.

[2019-01-30 18:11] apedneka1 commented on #58
Thank you @AlphaGit. I latest version seems to have fixed that bug.

[2019-01-30 18:11] #58 closed

[2021-07-22 09:35] yftachman opened #60 "Exception thrown in firefox "Uncaught DOMException: An attempt was made to use an object that is not, or is no longer, usable""
Have an input with a restriction like "[0-9]*", when I enter a character that is not a number an exception is thrown "Uncaught DOMException: An attempt was made to use an object that is not, or is no longer, usable"

this happens at
`function setCaretPositionWithSetSelectionRange(position) {
            iElement[0].setSelectionRange(position, position);
          }`

but the actual problem is that

[2021-07-22 09:49] yftachman commented on #60
pull request for a fix: https://github.com/AlphaGit/ng-pattern-restrict/pull/61

[2021-07-22 11:36] AlphaGit commented on #60
Solved by merged PR. Thank you!

[2021-07-22 11:37] #60 closed